<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.AdminUserMapper">
    <resultMap id="adminUserResultMap" type="com.blog.entity.AdminUser">
        <id property="adminUserId" column="admin_user_id"/>
        <result property="loginUserName" column="login_user_name"/>
        <result property="loginPassword" column="login_password"/>
        <result property="avatar" column="avatar"/>
        <result property="nickName" column="nick_name"/>
        <result property="locked" column="locked"/>
    </resultMap>

    <select id="login" resultMap="adminUserResultMap">
        select * from tb_admin_user
        where login_user_name = #{userName} and login_password = #{password};
    </select>

    <select id="selectByPrimaryKey" resultMap="adminUserResultMap">
        select * from tb_admin_user
        where admin_user_id = #{AdminUserId};
    </select>

    <update id="updateByPrimaryKey" parameterType="com.blog.entity.AdminUser">
        update tb_admin_user
        <set>
            <if test="adminUserId != null">
                admin_user_id = #{adminUserId},
            </if>
            <if test="loginUserName != null">
                login_user_name = #{loginUserName},
            </if>
            <if test="loginPassword">
                login_password = #{loginPassword},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="locked != null">
                locked = #{locked}
            </if>
        </set>
        where admin_user_id = #{adminUserId};
    </update>
</mapper>